# vi:ft=python
assert 0, "Edit config.py"
accountChecking = 'xxxxxxxx=8'
accountSavings = 'xxxxxxxx=0'
defaultAccount = accountChecking

fid = "321172594"
url = "https://www.eecuonline.org/scripts/isaofx.dll"
org = "Educational Employees C U"
encoding = 'latin1'

user = 'xxxx'
password = 'xxxx'

lookAheadDays = 16
lookBehindDays = 5
bigAmount = -10000 # $-100

gventEmail = 'xxxxxxxx@gmail.com'
gventPassword = 'xxxx'
gventCalendar = 'bd7j228bh3984723fd0x8dhf50@group.calendar.google.com'

downloadTimes = ['06:00', '18:00', ]

debug = 0
