# vi:ft=python
ACCOUNT_CHECKING = 1
ACCOUNT_INVEST = 2
ACCOUNT_CREDIT = 3


accounts = { 
        'xxxxxxxx=8': ACCOUNT_CHECKING,
#        'xxxxxxxx=0': ACCOUNT_CHECKING,
}

fid = "321172594"
bank = "321172594"
url = "https://www.eecuonline.org/scripts/isaofx.dll"
org = "Educational Employees C U"
ofxEncoding = 'latin1'

user='xxxx'
password='xxxx'
