@import url(reset.css);

body { 
    font-family: sans-serif;
    background-color: #D3E6CF;
}

.graphs {
    width: 600px;
    height: 296px;
    border: 2px solid #618059;
    margin-bottom: 5pt;
}

.moneys {
}

.scheduler
{
}

.scheduler1 {
    width: 1px;
    height: 2em;
}

.scheduler2 {
    float: left;
}

.schedulerRight
{
    float: left;
    margin-left: 1em;
    border-left: 1px solid #618059;
    padding-left: 1em;
}
.schedulerLeft
{
    float: left;
    width: 350px;
}
.schedulerLeft input
{
    width: 350px;
}

.summary
{
}

.summary table {
    width: 600px;
}

.summary td {
    border: none;
}

.summary thead td {
    border-bottom: 1px solid #618059;
    color: #618059;
}

.ledgerBalance, .availableBalance {
    font-weight: bold;
}

.ledgerBalance
{
    color: blue;
    border-bottom: 1px solid blue;
    cursor: pointer;
}

.availableBalance, .last3
{
    border-bottom: 2px dotted blue;
    cursor: pointer;
}

#x1 { float: left;
    width: 100px;
    height: 1px;
}

#x2 {
    float: left;
    padding: 0px 5px 0px 5px;
    border: 1px solid #618059;
    border-top: 0px;
    border-bottom: 0px;
    height: 100%;
    width: 630px;
}

#x2-1 {
    background-color: white;
    padding: 1em 1em 0px 1em;
    margin: 0px;
} 

.horizHairline {
    height:1px;
    border-bottom:1px solid #618059;
    margin: 5pt;
}

.graphSelect {
    float: left; clear: both;
    height: 40px;
    padding: 4pt 0px 0pt 4pt;
}
