@import url(reset.css);

/*
 * Palette:
 * http://tinyurl.com/2o5zpf
 *
 * Dark Pastel scheme
 *
 * (listed darkest to lightest)
 *
 * Bluer Greens:
 *   59806F 648F7D 60BF96 CFE6DC
 * Greenish blues:
 *   596F80 647D8F 6096BF CFDCE6
 * Yellower greens:
 *   618059 73BF60 9BCC8F D3E6Cf
 *   
 */

body { 
    font-family: sans-serif;
    background-color: #D3E6CF;
}

.graphs {
    width: 800px;
    height: 296px;
    border: 2px solid #618059;
    margin-bottom: 5pt;
}

.moneys
{
}

.scheduler
{
}

.scheduler1 {
    width: 1px;
    height: 2em;
}

.scheduler2 {
    float: left;
}

.schedulerRight
{
    float: left;
    margin-left: 1em;
    border-left: 1px solid #618059;
    padding-left: 1em;
}

.schedulerRight td
{
    border-width: 0px 1px 0px 1px;
    border-color: #618059;
    text-align: right;
}

.schedulerRight td.memo {
    text-align: left;
}

.SchedulerLeft
{
    float: left;
    width: 350px;
}
.schedulerLeft input
{
    width: 350px;
}

.summary
{
}

.summary table {
    width: 800px;
}

.summary td {
    border: none;
}

.summary thead td {
    border-bottom: 1px solid #618059;
    color: #618059;
}

.ledgerBalance, .availableBalance {
    font-weight: bold;
}

.ledgerBalance
{
    color: #6096BF;
    border-bottom: 1px solid #6096BF;
    cursor: pointer;
}

.availableBalance, .last3
{
    border-bottom: 2px dotted #6096BF;
    cursor: pointer;
}

#x1 { float: left;
    width: 75px;
    height: 1px;
}

#x2 {
    float: left;
    padding: 0px 5px 0px 5px;
    border: 1px solid #618059;
    border-top: 0px;
    border-bottom: 0px;
    height: 100%;
    width: 830px;
}

#x2-1 {
    background-color: white;
    padding: 1em 1em 0px 1em;
    margin: 0px;
} 

.horizHairline {
    height:1px;
    border-bottom:1px solid #618059;
    margin: 5pt;
}

.graphSelect {
    float: left; clear: both;
    height: 40px;
    padding: 4pt 0px 0pt 4pt;
}

.statusPaid {
    font-weight: bold;
    color: green;
}

h1, h2, h3, h4 {
    color: #618059;
    margin-top: 3pt; margin-bottom: 3pt;
}
